## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
.vs/
*.csproj.user
*.dbmdl
*.jfm
*.pubxml.user

## ASP.NET Core
appsettings.*.json
!appsettings.Development.json

## Visual Studio
*.userprefs
*.vs/
*.DotSettings

## Secrets
*.secrets.json
secrets.*.json

## OS
.DS_Store
Thumbs.db
